.profile__name {
  margin: 0;
  padding: 0;
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  white-space: nowrap;
  max-width: 87.5%;
  overflow: hidden;
  text-overflow: ellipsis;
}


@media (min-width: 515px) and (max-width: 767px) {
  .profile__name {
    font-size: 27px;
    line-height: 33px;
    max-width: 67.5%;
    margin-right: 10px;
    margin-left: 10px;
  }
}


@media all and (max-width: 515px) {
  .profile__name {
    font-size: 27px;
    line-height: 33px;
    max-width: 67.5%;
    margin-left: auto;
  }
}

