.profile__info {
  max-width: 360px;
  margin: 0 auto 0 30px;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  text-align: left;
  justify-content: flex-start;
}


@media all and (max-width: 767px) {
  .profile__info {
    margin: 26px auto 0;
    min-width: 282px;
  }
}

@media (min-width: 515px) and (max-width: 767px) {
  .profile__info {
    margin-left: 10px;
    margin-right: auto;
  }
}


@media all and (max-width: 515px) {
  .profile__info {
    margin: 26px auto 0;
    min-width: 282px;
  }
}
