.profile__bio {
  margin: 0;
  font-family: 'Inter', Arial, sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  padding-top: 16px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}



@media (min-width: 515px) and (max-width: 767px) {
  .profile__bio {
    font-size: 14px;
    line-height: 17px;
    margin: 0 auto 0 10px;
  }
}


@media all and (max-width: 515px) {
  .profile__bio {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin: 0 auto;
  }
}
