.profile__photo-area{
    position:relative;
    height: 120px;
    width: 120px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.profile__photo-area:hover .profile__edtn-button_photo {
    visibility: visible;
    opacity: 0.6;
 }


 @media all and (max-width: 515px) {
    .profile__photo-area {
      display: block;
      margin: 0 auto;
    }
  }