.header__burger {
    display: none;
    width: 26px;
    height: 26px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all .5s ease-in-out;
    margin-right: 30px;
}

.header__burger:hover {
    opacity: 0.6;
}

@media all and (max-width: 767px) {
    .header__burger {
      display: flex;
    }
  }