.profile__photo {
 border-radius: 50%;
 width: 100%;
 height: 100%;
 position: absolute;
 object-fit: cover;
 top: 0;
 left: 0;
}

@media all and (max-width: 767px) {
  .profile__photo {
    margin: 0 auto;
  }
}