.cards__like{
  margin: 0;
  background-image: url('../../../images/like.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 22px;
  min-height: 19px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  transition: opacity 1.5s ease-out; 
}

.cards__like:hover {
  opacity: 0.5;
}