.popup__submit-btn {
    background-color: black;
    border: none;
    border-radius: 2px;
    color: white;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    padding: 16px 0;
    text-align: center;
    width: 100%;
    margin-top: 45px;
    cursor: pointer;
    transition: opacity 0.2s linear;
}

.popup__submit-btn:hover {
    opacity: .8;
}

@media all and (max-width: 767px) {
  .popup__submit-btn {
    font-size: 14px;
    line-height: 17px;
  }
}

