.header {
  width: 68.75%;
  margin: 0 auto;
  padding-top: 45px;
  padding-bottom: 41px;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: baseline;
}

@media all and (max-width: 930px) {
  .header {
    width: 100%;
    padding-top: 28px;
  }
}